body{
	background-image:url('../images/turf.jpg');
	background-repeat:repeat;
	margin:0;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
#caddy_content{
	position:fixed;
	top:450px;
	left:600px;
	z-index:20;
}
#caddy_img{
	position:relative;
	display:block;
}
#caddy_mask{
	cursor:move;
	position:fixed;
	top:450px;
	left:600px;
	z-index:21;
	width:164px;
	height:205px;
}
#drag_mask{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:999;
	display:none;
}
#drag_mask.show{
	display:block;
}
#middle{
	margin:0 10.6em 0 20em;
	padding:1em 0 10em 0;
	-webkit-transition:margin-left .5s;
  transition:margin-left .5s;
}
#middle.assume{
	margin-left:40em;
}
h1{
	position:absolute;
	margin: 0;
	top: 0;
	background: white;
}
h2{
	position:relative;
	z-index:1;
	background:yellow;
	font-size: 1em;
	line-height: 1em;
	margin: 1em 0;
	position:fixed;
	width:100%;
	left: 0;
	padding-left: 20em;
}
#conclusion_container{
	position:fixed;
	bottom:0;
	padding:0 0 1em 2em;
	margin:0;
	background:green;
}
#prove_it{
	position:absolute;
	right:-6em;
	top:-1em;
	color:#fff;
}
#conclusion{
	color:black;
	background: rgb(144, 238, 144);;
	padding: 0.2em;
	border: 3px solid rgb(0,255,0);
	font-weight:800;
}
#flag{
	position:absolute;
	bottom: 4em;
	left: -0.5em;
	background: none;
	width: 0;
	height: 0;
	border-top: 1em solid transparent;
	border-right: 2em solid yellow;
	border-bottom: 1em solid transparent;
}
#pole{
	position:absolute;
	top: -2em;
	left: 1.4em;
	height: 5em;
	width:.1em;
	background: yellow;
	display: block;
}
#hole{
	width: 16px;
	height: 8px;
	background: black;
	-moz-border-radius: 8px / 4px;
	-webkit-border-radius: 8px / 4px;
	border-radius: 8px / 4px;
	display: block;
	left: 0;
	position: absolute;
	top: 1.2em;
}
#proof{
	min-height:22.7em;
	background:#000;
	padding:3em 1em 1em 1em;
	background: url("../images/satellites.jpg");
}
.subproof_body{
	padding:1em;
}
ol, .subproof_body{
	list-style:none;
}
ol li, .subproof_body li{
	padding:0;
	height:1.5em;
	line-height:1.5em;
	color:#fff;
}
li.subproof{
	height:auto;
}
p{
	display:block;
	padding-left:2em;
	margin:0;
}

label{
	width:1em;
	height:1em;
	display:block;
	cursor:pointer;
	position:absolute;
	background:#fff;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked + label .vert{
	display:block;
}
input[type=checkbox]:checked + label .horiz{
	display:block;
}
label:hover .vert{
	display:block;
}
label:hover .horiz{
	display:block;
}

.vert{
	background: blue;
	width: .3em;
	position: absolute;
	left: .4em;
	height: 100%;
	display:none;
}
.horiz{
	background: blue;
	width: 100%;
	position: absolute;
	top: .4em;
	height: .3em;
	display:none;
}
.subproof{
	position:relative;
	width:80%;
	margin:0 0 0 2em;
}
.subproof_bg{
	height:100%;
	width:100%;
	background: url('../images/perspective.png');
	background-size: 100% 100%;
	-moz-box-shadow:inset 0 0 1em #000;
	-webkit-box-shadow:inset 0 0 1em #000;
	box-shadow:inset 0 0 1em #000;
	position:absolute;
	opacity:0.1;
}
.subproof_marker{
	height:100%;
	width:0.2em;
	position:absolute;
	left:-1.6em;
	top:0;
	background: #fff;
	padding: 0.5em 0;
	margin-top: -0.5em;
}

#hills{
	position:fixed;
	bottom:0;
	background: green;
	width:100%;
	left:0;
	height:2em;
}
.hill:nth-child(1){
	width: 200px;
	height: 100px;
	background: green;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	position: absolute;
	bottom:-2em;
	left:-2em;
}
.hill:nth-child(2){
	width: 300px;
	height: 100px;
	background: green;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	position: absolute;
	bottom:-2em;
	left:22em;
}
.hill:nth-child(3){
	width: 300px;
	height: 100px;
	background: green;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	position: absolute;
	bottom:-1em;
	left:13em;
}

#help_target{
	position:absolute;
	top: -40px;
  left: 50px;
  width: 90px;
  height: 90px;
	cursor: url('../cursors/question.cur'), default;
}
#help{
  color:white;
  /*font-size:10em;*/
  background:rgba(0, 0, 255, 0.6); 
}
#beacon{
	position:absolute;
	top:-2px;
	width: 10px;
	height: 10px;
	background: none;
	border:2px solid rgba(255, 255, 0, 0.8);
	border-radius: 10px;
	left: 94px;
	-webkit-animation: beacon 1s infinite; /* Safari 4+ */
  -moz-animation:    beacon 1s infinite; /* Fx 5+ */
  -o-animation:      beacon 1s infinite; /* Opera 12+ */
  animation:         beacon 1s infinite; /* IE 10+ */
}

@-webkit-keyframes beacon {
	0%{
		top:-2px;
		left:94px;
		width:10px;
		height:10px;
		border-radius:10px;
  }
  100% {
		top:-12px;
		left:84px;
		width:30px;
		height:30px;
		border-radius:30px;
  }
}
@-moz-keyframes beacon {
	0%{
		top:-2px;
		left:94px;
		width:10px;
		height:10px;
		border-radius:10px;
  }
  100% {
		top:-12px;
		left:84px;
		width:30px;
		height:30px;
		border-radius:30px;
  }
}
@-o-keyframes beacon {
	0%{
		top:-2px;
		left:94px;
		width:10px;
		height:10px;
		border-radius:10px;
  }
  100% {
		top:-12px;
		left:84px;
		width:30px;
		height:30px;
		border-radius:30px;
  }
}
@keyframes beacon {
	0%{
		top:-2px;
		left:94px;
		width:10px;
		height:10px;
		border-radius:10px;
  }
  100% {
		top:-12px;
		left:84px;
		width:30px;
		height:30px;
		border-radius:30px;
  }
}




@keyframes spin {
  from { 
    transform: rotateY(0); 
  }
  to { 
    transform: rotateY(360deg); 
  }
}
@-webkit-keyframes spin {
  from { 
    -webkit-transform: rotateY(0); 
  }
  to { 
    -webkit-transform: rotateY(360deg); 
  }
}
#cube_wrap {
  perspective: 800px;
  perspective-origin: 50% 100px;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 100px;
  display:none;
  position: fixed;
  right:200px;
  top:50px;
}
#cube_wrap.show{
  display:block;
}
#cube {
  position: relative;
  width: 400px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.cube_face {
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(255,255,255,0.8);
  box-shadow: inset 0 0 30px rgba(0,0,0,0.8);
}
.cube_notes{
  font-size:0.7em;
}
#cube_back {
  transform: translateZ(-200px) rotateY(180deg);
  -webkit-transform: translateZ(-200px) rotateY(180deg);
}
#cube_right {
  transform: rotateY(-270deg) translateX(200px);
  -webkit-transform: rotateY(-270deg) translateX(200px);
  transform-origin: top right;
  -webkit-transform-origin: top right;
}
#cube_left {
  transform: rotateY(270deg) translateX(-200px);
  -webkit-transform: rotateY(270deg) translateX(-200px);
  transform-origin: center left;
  -webkit-transform-origin: center left;
}
#cube_top {
  transform: rotateX(-90deg) translateY(-200px);
  -webkit-transform: rotateX(-90deg) translateY(-200px);
  transform-origin: top center;
  -webkit-transform-origin: top center;
}
#cube_bottom {
  transform: rotateX(90deg) translateY(200px);
  -webkit-transform: rotateX(90deg) translateY(200px);
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
}
#cube_front {
  transform: translateZ(200px);
  -webkit-transform: translateZ(200px);
}
#cube.rotate {
  animation: spin 20s infinite linear;
  -webkit-animation: spin 20s infinite linear;
}