body{
	background-image:url('turf.jpg');
	background-repeat:repeat;
	margin:0;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

#middle{
	margin:0 10.6em 0 20em;
	padding:1em 0 10em 0;
}
h2{
	position:relative;
	z-index:1;
	background:yellow;
	font-size: 1em;
	line-height: 1em;
	margin: 1em 0;
	position:fixed;
	width:100%;
	left: 0;
	padding-left: 20em;
}
#proof{
	min-height:22.7em;
	background:#000;
	color:#fff;
	padding:3em 1em 1em 1em;
	background: url("satellites.jpg");
}
.subproof_body{
	padding:1em;
}
ol, .subproof_body{
	list-style:none;
}
ol li, .subproof_body li{
	padding:0;
	height:1.5em;
	line-height:1.5em;
}
li.subproof{
	height:auto;
}
p{
	display:block;
	padding-left:2em;
	margin:0;
}

label{
	width:1em;
	height:1em;
	display:block;
	cursor:pointer;
	position:absolute;
	background:#fff;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox]:checked + label .vert{
	display:block;
}
input[type=checkbox]:checked + label .horiz{
	display:block;
}
.vert{
	background: blue;
	width: .3em;
	position: absolute;
	left: .4em;
	height: 100%;
	display:none;
}
.horiz{
	background: blue;
	width: 100%;
	position: absolute;
	top: .4em;
	height: .3em;
	display:none;
}
.subproof{
	position:relative;
	width:50%;
	margin:0 0 0 2em;
}
.subproof_bg{
	height:100%;
	width:100%;
	background: url('perspective.png');
	background-size: 100% 100%;
	-moz-box-shadow:inset 0 0 1em #000;
	-webkit-box-shadow:inset 0 0 1em #000;
	box-shadow:inset 0 0 1em #000;
	position:absolute;
	opacity:0.1;
}
.subproof_marker{
	height:100%;
	width:0.2em;
	position:absolute;
	left:-1.6em;
	top:0;
	background: #fff;
	padding: 0.5em 0;
	margin-top: -0.5em;
}

